$yellow-color : #FAD725;
$yellow-color-hover : #ead87d;
$violet-color : #6F77F1;
$heading-color :#212528;
$heading-color-dark : #292528;
$text-color-7 : #727272;
$text-color-8 : #828282;
$text-color-9 : #909090;
$bg-gray-color : #FAFAFA;
$input-bg-color : #F2F2F2;