// font-poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// font-inter
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.page-body {
    max-width: 1920px;
    margin: auto;
}

@import 'bootstrap/scss/bootstrap.scss';

//importing variabls
@import 'variables.scss';

// importing section wise styles
@import "./styles/navbarStyle";
@import "./styles/heroStyle";
@import "./styles/managementStyle";
@import "./styles/optimizingStyle";
@import "./styles/businessStyle";
@import "./styles/growStyle";
@import "./styles/chooseStyle";
@import "./styles/needStyle";
@import "./styles/numbersStyle";
@import "./styles/speedSection";
@import "./styles/plansStyle";
@import "./styles/membersStyle";
@import "./styles/clientsSection";
@import "./styles/subscribeSection";
@import "./styles/footerStyle";